/* STYLE PÁGINA SERVIÇOS */
.pg-servicos{
	
}
	.pg.pg-servicos section.bannerDestaqueInternas{
        min-height: 550px;
	}
		.pg.pg-servicos  section.bannerDestaqueInternas article p{
		    max-width: 535px;
		}	
		.pg-servicos .background-topo p{
			
		}
	.pg-servicos .secao-servicos{
		
	}
		.pg-servicos .secao-servicos ul{
			padding: 0;
			list-style: none;
			margin: 0;
			text-align: center;
			max-width: 983px;
		    margin: -110px auto 0;
		}
			.pg-servicos .secao-servicos ul li{
				background: #FFFFFF;
				box-shadow: 0px 23px 72px rgba(0, 0, 0, 0.16);
				border-radius: 4px;
				width: 100%;
    			max-width: 41.8%;
				min-height: 464px;
				margin:17px;
				display: inline-block;
				padding: 68px 20px 68px 68px;; 
				vertical-align: top;
				text-align: left;
			}
				.pg-servicos .secao-servicos ul li figure{
					display: block;
					width: 65px;
					height: 65px;
				}
					.pg-servicos .secao-servicos ul li img{
					
					}
				.pg-servicos .secao-servicos ul li h2{
					font-family: var(--ptSansCaption);
					font-style: normal;
					font-weight: bold;
					font-size: 20px;
					line-height: 26px;/* identical to box height, or 130% */
					color: var(--pretoPrincipal);
					margin-bottom: 20px;
				}
				.pg-servicos .secao-servicos ul li span{
					font-family:var(--openSans);
					font-style: normal;
					font-weight: normal;
					font-size:var(--fontSizePrincipal);
					line-height: 30px;/* or 214% */
					color: #000000;
					mix-blend-mode: normal;
					opacity: 0.6;
					display: block;
					margin-bottom: 20px;
				}
				.pg-servicos .secao-servicos ul li div.item{
				    padding-left: 20px;
				}
					.pg-servicos .secao-servicos ul li p{
						font-family:var(--openSans);
						font-style: normal;
						font-weight: normal;
						font-size:var(--fontSizePrincipal);
						line-height: 29px;/* or 207% */
						color: #000000;
						margin-bottom:5px;
						position: relative;
					}
					.pg-servicos .secao-servicos ul li p:before{
						content: "";
						display: block;
						width: 7px;
						height: 7px;
						background: #FFA000;
						border-radius: 38px;
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
						-webkit-transform: translateY(-50%);
						-moz-transform: translateY(-50%);
						-o-transform: translateY(-50%);
					    left: -20px;
					}
@media(max-width: 991px){
	.pg-servicos .secao-servicos ul li{
    	padding: 68px 20px 68px 20px;
	}
}
@media(max-width: 768px){
	.pg-servicos .secao-servicos ul li{
		width: 100%;
		max-width: 525px;
		min-height: 414px;
	    padding: 25px 20px 25px 20px;
		margin: 0;
		margin-bottom: 30px;

	}
	.pg-servicos .secao-servicos ul{
		padding:20px;
	}
}